<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.casey.cloud.h.order.service.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.casey.cloud.h.order.service.entity.Order">
        <id column="id" property="id"/>
        <result column="account_id" property="accountId"/>
        <result column="product_id" property="productId"/>
        <result column="total" property="total"/>
        <result column="amount" property="amount"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account_id, product_id, total, amount
    </sql>

</mapper>
